body {
    background: #f8f8f8;
}

a {
    cursor: pointer;
}

/* Nav Bar
 * -------------------------------------- */
.navbar .navbar-inner {
    border: 0;
    line-height: 30px;
    background: #101010;
    background: linear-gradient(#101010, #050505);
}

.navbar .brand {
    color: white;
}

.navbar .nav > li > a {
    color: #ccc;
    line-height: 30px;
}

.navbar .nav li.active a {
    color: white;
    background: #222;
    background: linear-gradient(#050505, #101010);
    box-shadow: inset 0px 0px 5px black;
}

/* Carousel
 * -------------------------------------- */
.carousel {
    padding-top: 50px;

}

.carousel .container {
    position: relative;
    z-index: 9;
}

.carousel-control {
    height: 80px;
    margin-top: 0;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}

.carousel .item {
    height: 500px;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    background: rgba(0,0,0,.45);
    max-width: 550px;
    position: static;
    margin-top: 350px
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: white;
}


/* News-Items
 * -------------------------------------- */
.news-section {
    background: #f8f8f8;
}

.news-row {
    margin-top: 15px;
    border: 1px solid #ddd;
    background: white;
    padding: 15px 10px;
}

.news-row:first-child {
    margin-top: none;
}

.news-row:last-child {
    margin-bottom: 30px;
}

.news-inner {
    overflow: hidden;
    padding: 5px;
}

.news-section .thumbnail {
    margin: 0px auto;
    min-height: 200px;
}

.news-section h3 {
}

.news-section p {
}

/* Footer
 * -------------------------------------- */
.footer {
    margin-top: 25px;
    padding: 10px 0px;
    background: #060606;
    border-top: 1px solid #000;
}

#mail-list {
    margin-top: 7px;
}

#mail-list input {
    background: #222;
    border: 1px solid black;
    color: #ddd;
}


#mail-list button {
    background-image: linear-gradient(to bottom, #333, #323232);
    border: 1px solid #222;
    border-radius: 0;
    text-shadow: 0;
    color: #eee;
}

#mail-list button:hover {
    background-color: #222222;
    text-shadow: 0;
    border: 1px solid #000;
}

.footer .span2 i {
    margin: 0 auto;
}

.footer ul {

}

.footer2 {
    height: 40px;
    background: #040404;
    border-top: 1px #222;
    box-shadow: inset 0px 0px 5px -1px black;
    position: relative;
}

.footer2 p {
    line-height: 40px;
    margin-left: 70px;
}
